<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Stasevi4_autoupsell>
			<version>0.1.0</version>
		</Stasevi4_autoupsell>
	</modules>
	<global>
		<models>
			<autoupsell>
				<class>Stasevi4_Autoupsell_Model</class>
			</autoupsell>
		</models>
		<blocks>
			<autoupsell>
				<class>Stasevi4_Autoupsell_Block</class>
			</autoupsell>
			<catalog>
				<rewrite>
					<product_list_upsell>Stasevi4_Autoupsell_Block_Upsell</product_list_upsell>
					<product_list_related>Stasevi4_Autoupsell_Block_Related</product_list_related>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<cart_crosssell>Stasevi4_Autoupsell_Block_Crosssell</cart_crosssell>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<autoupsell>
				<class>Stasevi4_Autoupsell_Helper</class>
			</autoupsell>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<autoupsell translate="title" module="autoupsell">
											<title>Auto Related, Cross Sell  Products</title>
										</autoupsell>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<autoupsell>
			<general>
				<enabled>1</enabled>
				<limit>3</limit>
			</general>
			<generalrelated>
				<enabled>1</enabled>
				<limit>3</limit>
			</generalrelated>
			<generalcrosssell>
				<enabled>1</enabled>
				<limit>4</limit>
			</generalcrosssell>		
		</autoupsell>
	</default>
</config>